/* Estilos para o chat */
#chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 350px;
    height: 400px;
    border: 1px solid #e2e7c7;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;

  
}

#chat-messages {
    height: 250px;
    overflow-y: scroll;
    padding: 10px;
    
}

#chat-input {
    margin: 12px;
    width: 90%;
    height: 80px; /* Ajuste a altura conforme necessário */
    padding: 5px;
    border: 1px solid #ebdcdc;
    border-top: 1px solid #ececec;
    resize: none;
    font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
    text-align: center; /* Centralize o texto do placeholder */
    
}

#chat-input::placeholder {
    text-align: center; /* Centralize o texto do placeholder */
}


#close-chat-button {
    width: 100px;
    height: 30px;
    padding: 0 5px; /* Adicione o padding desejado para controlar o tamanho do botão */
    font-size: 12px; /* Defina o tamanho da fonte */
    border-radius: 5px; /* Adicione bordas arredondadas */
    background-color: #ff0000; /* Altere a cor de fundo conforme desejado */
    color: #ffffff; /* Altere a cor do texto conforme desejado */
    border: none; /* Remova a borda */
    cursor: pointer; /* Altere o cursor ao passar o mouse */
    margin-top: 20px;

}

#close-chat-button:hover {
    background-color: #5ba14d; /* Altere a cor de fundo ao passar o mouse */
}
