section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 300%; 
    height: 50rem;
    display: flex;
    animation: slide-animation 17s infinite alternate ; /* Adicionando animação para os slides */
}

.slider-content input, .img-mobile{
    display: none;
}

.slide-box{
    width: 33.33%; /* Atualizado para 33.33% para acomodar 3 slides */
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
    width: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #ff0054;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #ff0054;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #ff0054;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -33.33%; /* Atualizado para -33.33% para acomodar 3 slides */
}

#radio3:checked ~ .primeiro{
    margin-left: -66.67%; /* Atualizado para -66.67% para acomodar 3 slides */
}

/* Adicionando a animação de slide */
@keyframes slide-animation {
    0% { margin-left: 0%; }
    33.33% { margin-left: -100%; }
    66.67% { margin-left: -200%; }
    100% { margin-left: 0%; }
}
