@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.container1 {
    max-width: 1080px;
    margin: 0 auto;
    margin-bottom: 200px;
}

/* Estilização específica para o formulário de cadastro */
section#cadastrar-se .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #a8a3a3;
    border-radius: 3rem;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    height: 35rem;
    flex-direction: column;
    /* Alterado para column */
}

#cadastrar-se form label {
    color: rgba(0, 0, 0, 0.842);
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    /* Adicionado espaço abaixo da label */
    display: block;
    /* Adicionado para garantir que as labels ocupem uma linha inteira */

}


#cadastrar-se form input {
    margin-top: 7px;
    margin-bottom: 15px;
    /* Adicionado espaço abaixo do input */
    width: 80%;
    /* Alterado para 80% para ocupar a largura do container */
    height: 30px;
    /* Alterado para um valor fixo para corrigir a altura do campo */
    outline: none;
    text-align: center;
    box-sizing: border-box;
    /* Adicionado para incluir o padding e a borda no cálculo da largura */
}

#cadastrar-se form ::placeholder {
    text-align: center;
}


header {
    background-color: black;
    width: 100%;
    padding: 20px 8%;
    position: sticky;
    top: 0;
    z-index: 9999;
    height: 100px;
}

/* Estilização do logo */
.logo {
    width: 25%;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: -60px;
    padding: 15px 3%;
    z-index: 9999;
    margin-top: -20px;

}

.logo img {
    width: auto;
    height: 6rem;
    margin-top: 8px;
    cursor: pointer;
}


header nav ul li {
    display: inline-block;
    padding: 0 6px;
    position: relative;
    font-size: 22px;

}

nav {
    flex-grow: 1;
    text-align: center;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    padding: 0 6px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    position: relative;
}

/* Estilização para ícones */
nav ul li a i {
    margin-right: 4px;
    /* Espaçamento entre o ícone e o texto */
}

/* Efeitos de hover para os links do menu */
header nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #ff6f61;
    left: 50%;
    bottom: -5px;
    transition: width 0.3s ease, left 0.3s ease;
}

header nav ul li:hover a::after {
    width: 100%;
    left: 0;
}

header nav ul li:hover {
    transform: scale(1.05);
    color: #0e0d0d;
}
.interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilização do formulário de login */
.login {
    display: flex;
    align-items: center;
    /* Alterado para 'center' para alinhar verticalmente */
    justify-content: flex-end;
    margin-top: -30px;
}

.login input[type="text"],
.login input[type="password"] {
    height: 30px;
    width: 120px;
    margin-right: 10px;
    /* Ajustado o margin-right */
    padding: 5px;
    /* Ajustado o padding */
    outline: none;
    text-align: center;
}

.login label {
    color: #FFFFFF;
    margin-right: 15px;
    /* Ajustado o margin-right */
}

.login button {
    height: 30px;
    width: 80px;
    padding: 0 10px;
}

.login ::placeholder {
    color: rgb(70, 66, 66);
}

/* Estilização do botão Criar Usuário */
.custom-button {
    width: auto;
    height: auto;
    padding: 10px 20px;
    margin-top: 25px;
    background-image: linear-gradient(45deg, #433e94, #6e62df);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-button:hover {
    background-color: #45a049;
}


/* Estilização do botão Criar Usuário */
.custom-button {
    width: auto;
    height: auto;
    padding: 10px 20px;
    margin-top: 25px;
    background-image: linear-gradient(45deg, #433e94, #6e62df);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-button:hover {
    background-color: #45a049;
}


button {
    width: 40px;
    height: 40px;
    border: 0;
    margin-right: 2px;
    cursor: pointer;
    background-image: linear-gradient(45deg, #FF2500, #0066ff);
    border-radius: 5px;
    transition: transform 0.5s;
}

button i {
    margin-top: 8px;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    transform: scale(0.9);
}

/* Estilização do botão Voltar ao Topo */
#btnVoltarTopo {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 68px;
    height: 73px;
    font-size: 16px;
    border: none;
    outline: none;
    background: transparent;
    /* Alteração aqui */
    color: white;
    cursor: pointer;
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}




#btnVoltarTopo i {
    font-size: 60px;
    color: rgb(84, 221, 72);
    margin-bottom: 20px;
}

/* Estilização do conteúdo */
section {
    padding: 90px 4%;
    border-bottom: 1px solid #ccc;
}

section h2 {
    font-size: 2em;
    margin-bottom: 25px;
}

section p {
    font-size: 20px;
}



/* Estilização da imagem na seção Home */
#home .banner img {
    padding: 2px 10px;
    width: 100%;
    /* Altera a largura da imagem */
    max-width: 1200px;
    /* Define um tamanho máximo */
    height: auto;
    /* Mantém a proporção da imagem */
    display: block;
    margin: 40px auto 0;
    /* Centraliza a imagem e adiciona margem superior */
}
#sobre .banner-sobre img {
    padding: 2px 10px;
    width: 100%;
    /* Altera a largura da imagem */
    max-width: 1200px;
    /* Define um tamanho máximo */
    height: auto;
    /* Mantém a proporção da imagem */
    display: block;
    margin: 40px auto 0;
    /* Centraliza a imagem e adiciona margem superior */
}


#menu-mobile {
    background-color: #1111119f;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 77px;
    right: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    z-index: 1000;
    transition: 0.5s;
    overflow: hidden;
}

#menu-mobile nav a {
    display: block;
    color: #ffffff;
    padding: 20px 30px;
    font-size: 20px;
    text-decoration: none;
}

#menu-mobile nav a:hover {
    background-color: #383838;
}

#btn-menu,
#btn-menu-close {
    color: #6616b1;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 1110px) {

    .menu,
    .social {
        display: none;
    }

    .logo {
        width: 100%;
    }

    #btn-menu,
    #menu-mobile {
        display: block;
    }

    #menu-mobile.active {
        height: calc(100vh - 77px);
        visibility: visible;
    }
}



/* Adicionando estilo para remover a borda de foco */
input[type="text"]:focus,
button:focus,
textarea:focus,
select:focus {
    outline: none !important;
}
